.bt-blue {
	border-top: 5px solid #9dedf9;
}
.bt-red {
	border-top: 5px solid #f99d9d;
}
.bt-green {
	border-top: 5px solid #59f3a6;
}
.bt-yellow {
	border-top: 5px solid #f8c592;
}
.feature-heading {
	/* padding: 0; */
	margin-top: 1rem;
	line-height: 40px;
	font-size: 2.0243rem;
	text-align: left;
	font-weight: 500;
	color: #2d3748;
}

.feature-description {
	/* padding: 0;s */
	font-weight: 400;
	line-height: 1.6;
	font-size: 20px;
	text-align: left;
	color: #718096;
}

.feature {
	display: flex;
	text-align: left;
	padding: 18px 20px;
}

.feature .icon {
	font-size: 35px;
	color: rgb(55, 111, 208);
}

.feature .heading {
	font-size: 1.125rem;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-weight: 500;
	line-height: 1.25;
}

.feature .description {
	color: rgba(0, 0, 0, 0.54);
	font-size: 0.9285714285714286rem;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-weight: 400;
	line-height: 1.75;
}

.btn-services {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding: 14px;
	font-size: 15px;
	font-weight: 500;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	transition: all 0.2s ease-out;
	text-align: center;
	/* width: 200px; */
}

.bl-custom-green {
	border-left: 10px solid #359733;
}

.bl-custom-blue {
	border-left: 10px solid #31b5e6;
}
.bl-custom-red {
	border-left: 10px solid #c92e25;
}

.bl-custom-yellow {
	border-left: 10px solid #ffc456;
}

.btn-services:hover {
	box-shadow: rgb(0 0 0 / 42%) -1px 11px 20px -10px,
		rgb(0 0 0 / 0%) 0px 0px 11px 1px;
}

.mt-custom-7 {
	margin-top: 7rem;
}

.bg-custom-green {
	background-color: #359733;
}

.bg-custom-blue {
	background-color: #0076bc;
}
.bg-custom-red {
	background-color: #c92e25;
}

.bg-custom-yellow {
	background-color: #ffc456;
}
