body {
	background-color: #fff;
	font-family: roboto, sans-serif;
}
section {
	background: #f3f3f3;
	padding: 20px 0px;
}

.bg-custom-blue {
	background-color: #0076bc;
	color: #fff;
}
.bg-grey {
	background-color: #f7f7f7;
}
.text-custom-white {
	color: rgba(238, 238, 238, 0.685);
}
/* NAVBAR */
.navbar {
	background-color: #fff;
}
.navbar-nav .nav-item {
	margin-left: 25px;
	transition: all 0.5s;
	border-radius: 0.25rem;
}
.navbar-nav .nav-item:hover {
	background-color: #eaeaea;
}
.navbar-nav .nav-item .nav-link {
	color: rgba(0, 0, 0, 0.952);
	font-size: 18px;
	font-weight: 400;
}
.signup-btn {
	font-size: 18px;
	color: #fff;
	background-color: #0076bc;
}
.signup-btn:hover {
	color: #fff;
	background-color: #00649e;
}
.user-img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 2px solid #0080ca;
	background-color: #00649e;
	transition: all 0.5s;
}
.user-img:hover {
	border: 2px solid #155d86;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.user-link-a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.952);
}
.user-first-name {
	font-size: 18px;
	font-weight: 400;
	margin-left: 0.2rem;
}
.navbar-shadow {
	box-shadow: 0px 1px 20px -7px rgb(0 0 0 / 52%);
}

.modal-wrapper {
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0 / 31%) 0px 0px 1px 0px,
		rgb(0 0 0 / 25%) 0px 7px 16px -4px;
}
.modal-top {
	display: flex;
	padding: 24px 18px 16px;
}
.modal-heading {
	color: rgb(23, 43, 77);
	margin: 0;
	padding-top: 7px;
}
.modal-description {
	margin: 8px 0px 0px;
	font-size: 0.875rem;
	color: rgb(107, 119, 140);
}
.danger-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	font-size: 1.25rem;
	border-radius: 50%;
	background-color: rgba(244, 67, 54, 0.08);
	color: rgb(244, 67, 54);
	margin-right: 16px;
}
.modal-bottom {
	display: flex;
	justify-content: flex-end;
	padding: 12px 24px;
}
.btn-custom-danger {
	background-color: rgb(244, 67, 54);
	color: white;
}
.btn-custom-danger:hover {
	background-color: rgb(170, 46, 37);
	color: white;
}

/* 
.card.user-card {
    border-top: none;
    -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
} */

.card {
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
	box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
	border: none;
	margin-bottom: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.card .card-header {
	background-color: transparent;
	border-bottom: none;
	padding: 25px;
}

.card .card-header h5 {
	margin-bottom: 0;
	color: #222;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	margin-right: 10px;
	line-height: 1.4;
}

.card .card-header + .card-block,
.card .card-header + .card-block-big {
	padding-top: 0;
}

.user-card .card-block {
	text-align: center;
}

.card .card-block {
	padding: 25px;
}

.user-card .card-block .user-image {
	position: relative;
	margin: 0 auto;
	display: inline-block;
	padding: 5px;
	width: 110px;
	height: 110px;
	background-color: #0d6efd;
	border-radius: 100%;
}

.user-card .card-block .user-image img {
	z-index: 20;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 100px;
	height: 100px;
}

.img-radius {
	border-radius: 50%;
}

.f-w-600 {
	font-weight: 600;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-t-25 {
	margin-top: 25px;
}

.m-t-15 {
	margin-top: 15px;
}

.card .card-block p {
	line-height: 1.4;
}

.text-muted {
	color: #919aa3 !important;
}

.user-card .card-block .activity-leval li.active {
	background-color: #0d6efd;
}

.user-card .card-block .activity-leval li {
	display: inline-block;
	width: 15%;
	height: 4px;
	margin: 0 3px;
	background-color: #ccc;
}

.user-card .card-block .counter-block {
	color: #fff;
}

.container {
	padding-top: 10px;
}
.lookingDoctor {
	padding-top: 70px;
}

/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/

.footer p {
	font-size: 15px;
	color: #252429;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}
.footer img {
	width: 70%;
}
.footer a {
	text-decoration: none;
}
.footer ul {
	padding-left: 0;
}

.footer input:focus {
	outline: none;
}
.footer a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #247023;
	/* font-size: 17px; */
}

.footer {
	background: #111111;
	padding-top: 70px;
}
.footer-about {
	margin-bottom: 30px;
}
.footer-about .footer-logo {
	margin-bottom: 25px;
	width: 350px;
}
.footer-about p {
	color: #b7b7b7;
	margin-bottom: 30px;
}
.footer-widget {
	margin-bottom: 30px;
}
.footer-widget h6 {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.footer-widget ul li {
	line-height: 36px;
	list-style: none;
}
.footer-widget ul li a {
	color: #b7b7b7;
	font-size: 14px;
}
.footer-widget ul li a:hover {
	color: #0076bc;
}
.footer-widget .footer-newslatter p {
	color: #b7b7b7;
}
.footer-widget .footer-newslatter form {
	position: relative;
}
.footer-widget .footer-newslatter form input {
	width: 100%;
	font-size: 14px;
	color: #ffffff;
	background: transparent;
	border: none;
	padding: 15px 0;
	border-bottom: 2px solid #ffffff;
}
.footer-widget .footer-newslatter form input::placeholder {
	color: #b7b7b7;
}
.footer-widget .footer-newslatter form button {
	color: #b7b7b7;
	font-size: 16px;
	position: absolute;
	right: 5px;
	top: 0;
	height: 100%;
	background: transparent;
	border: none;
}
.footer-copyright-text {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 20px 0;
	margin-top: 40px;
}
.footer-copyright-text p {
	color: #b7b7b7;
	margin-bottom: 0;
}
.footer-copyright-text p i {
	color: #e53637;
}
.footer-copyright-text p a {
	font-weight: bolder;
	color: white;
}

.footer-copyright-text p a:hover {
	/* font-size: 17px; */
	color: #0076bc;
}
.social-icons i {
	transition: all 0.2s ease;
	font-size: 26px;
	padding: 8px;
}
.social-icons i:hover {
	box-shadow: 0px 3px 8px -2px #0076bc;
	border-radius: 10px;
}

@media screen and (max-width: 600px) {
	.card .doctorcard {
		width: 5rem;
	}
}
