/* GENERAL CSS */
body {
	background-color: #fff;
	font-family: roboto, sans-serif;
}
/* GLOBAL CSS */
section {
	padding: 40px 0px;
}
.bg-custom-blue {
	background-color: #0076bc;
	color: #fff;
}
.bg-grey {
	background-color: #f7f7f7;
}
.text-custom-white {
	color: rgba(238, 238, 238, 0.685);
}
/* NAVBAR */
.navbar {
	background-color: #fff;
}
.navbar-nav .nav-item {
	margin-left: 25px;
	transition: all 0.5s;
	border-radius: 0.25rem;
}
.navbar-nav .nav-item:hover {
	background-color: #eaeaea;
}
.navbar-nav .nav-item .nav-link {
	color: rgba(0, 0, 0, 0.952);
	font-size: 18px;
	font-weight: 400;
}
.signup-btn {
	font-size: 18px;
	color: #fff;
	background-color: #0076bc;
}
.signup-btn:hover {
	color: #fff;
	background-color: #00649e;
}
.user-img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 2px solid #0080ca;
	background-color: #00649e;
	transition: all 0.5s;
}
.user-img:hover {
	border: 2px solid #155d86;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.user-link-a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.952);
}
.user-first-name {
	font-size: 18px;
	font-weight: 400;
	margin-left: 0.2rem;
}
.navbar-shadow {
	box-shadow: 0px 1px 20px -7px rgb(0 0 0 / 52%);
}

.modal-wrapper {
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0 / 31%) 0px 0px 1px 0px,
		rgb(0 0 0 / 25%) 0px 7px 16px -4px;
}
.modal-top {
	display: flex;
	padding: 24px 18px 16px;
}
.modal-heading {
	color: rgb(23, 43, 77);
	margin: 0;
	padding-top: 7px;
}
.modal-description {
	margin: 8px 0px 0px;
	font-size: 0.875rem;
	color: rgb(107, 119, 140);
}
.danger-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	font-size: 1.25rem;
	border-radius: 50%;
	background-color: rgba(244, 67, 54, 0.08);
	color: rgb(244, 67, 54);
	margin-right: 16px;
}
.modal-bottom {
	display: flex;
	justify-content: flex-end;
	padding: 12px 24px;
}
.btn-custom-danger {
	background-color: rgb(244, 67, 54);
	color: white;
}
.btn-custom-danger:hover {
	background-color: rgb(170, 46, 37);
	color: white;
}

/* HERO SECTION */
.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.5)),
		url("../images/hero-bg.png") top center;
	background-repeat: no-repeat;
	width: 100%;
	height: 370px;
	background-size: cover;
}
.hero-description {
	line-height: 1.8;
}

.feture-bar {
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: #00649e;
	border-radius: 10px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: white;
	background-color: #ed4c4c;
}

.nav-link:focus,
.nav-link:hover {
	color: rgb(235, 235, 235);
}
.autocomplete {
	position: relative;
	display: inline-block;
}
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

/* COVID SECTION  */
.service-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	border-radius: 20px;
	color: rgb(45, 55, 72);
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.service-wrapper:hover {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service-wrapper .inner-box {
	width: 150px;
	height: 60px;
	margin-bottom: 16px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.covid-num {
	font-size: 25px;
	font-weight: 700;
}
.box-purple {
	background-color: #f3e5f5;
	color: rgb(156, 39, 176);
}

.box-green {
	background-color: rgb(232, 245, 233);
	color: rgb(76, 175, 80);
}

.box-blue {
	background-color: rgb(227, 242, 253);
	color: rgb(33, 150, 243);
}

.box-pink {
	background-color: rgb(252, 228, 236);
	color: rgb(233, 30, 99);
}

.service-wrapper .header {
	font-size: 1.25rem;
	font-weight: 500;
	text-align: center;
}

/* about us start */

.aboutUs {
	padding-top: 450px;
	padding-bottom: 10px;
	background-image: url("../images/aboutUs2.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.footer-social-links {
	padding: 20px;
	font-size: 30px;
}

.footer-social-links.fab {
	padding: 10px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 10px 2px;
	border-radius: 50%;
	color: #fff;
}

.footer-social-links.fas {
	padding: 10px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 10px 2px;
	border-radius: 50%;
	color: #fff;
}
.footer-social-links.fas:hover {
	opacity: 0.7;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	background-color: transparent;
	width: 350px;
	height: 200px;
	padding-left: 30px;
	padding-right: 30px;
	perspective: 1000px; /*Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;

	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	padding-top: 10px;
	background-color: #00649e;
	color: white;
}

/* Style the back side */
.flip-card-back {
	padding-top: 30px;
	background-color: #111111;
	color: white;
	transform: rotateY(180deg);
}

/* about us end */

/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/

.footer p {
	font-size: 15px;
	color: #252429;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}
.footer img {
	width: 70%;
}
.footer a {
	text-decoration: none;
}
.footer ul {
	padding-left: 0;
}

.footer input:focus {
	outline: none;
}
.footer a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #247023;
	/* font-size: 17px; */
}

.footer {
	background: #111111;
	padding-top: 70px;
}
.footer-about {
	margin-bottom: 30px;
}
.footer-about .footer-logo {
	margin-bottom: 25px;
	width: 350px;
}
.footer-about p {
	color: #b7b7b7;
	margin-bottom: 30px;
}
.footer-widget {
	margin-bottom: 30px;
}
.footer-widget h6 {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.footer-widget ul li {
	line-height: 36px;
	list-style: none;
}
.footer-widget ul li a {
	color: #b7b7b7;
	font-size: 14px;
}
.footer-widget ul li a:hover {
	color: #0076bc;
}
.footer-widget .footer-newslatter p {
	color: #b7b7b7;
}
.footer-widget .footer-newslatter form {
	position: relative;
}
.footer-widget .footer-newslatter form input {
	width: 100%;
	font-size: 14px;
	color: #ffffff;
	background: transparent;
	border: none;
	padding: 15px 0;
	border-bottom: 2px solid #ffffff;
}
.footer-widget .footer-newslatter form input::placeholder {
	color: #b7b7b7;
}
.footer-widget .footer-newslatter form button {
	color: #b7b7b7;
	font-size: 16px;
	position: absolute;
	right: 5px;
	top: 0;
	height: 100%;
	background: transparent;
	border: none;
}
.footer-copyright-text {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 20px 0;
	margin-top: 40px;
}
.footer-copyright-text p {
	color: #b7b7b7;
	margin-bottom: 0;
}
.footer-copyright-text p i {
	color: #e53637;
}
.footer-copyright-text p a {
	font-weight: bolder;
	color: white;
}

.footer-copyright-text p a:hover {
	/* font-size: 17px; */
	color: #0076bc;
}
.social-icons i {
	transition: all 0.2s ease;
	font-size: 26px;
	padding: 8px;
}
.social-icons i:hover {
	box-shadow: 0px 3px 8px -2px #0076bc;
	border-radius: 10px;
}

/* MEDIA QUERIES */
/* Extra small devices (phones, 465px and down) */
@media only screen and (max-width: 465px) {
	.xs-custom-mt {
		margin-top: 100px;
	}
}
